<div flex layout="column" ng-controller="EditorController as EditorCtrl">

    <onboarding-popover enabled="EditorCtrl.onboardingEnabled" steps="EditorCtrl.onBoardingSteps" step-index='EditorCtrl.onboardingIndex' on-finish-callback="EditorCtrl.finishTour" custom-options="EditorCtrl.OnBoardingService.customOptions"></onboarding-popover>

    <div id="toolbar" class="bandeau" ng-show="!EditorCtrl.inPrint" layout="row" layout-align="space-between center">
        <div layout="row" layput-align="start center" id="zoomPart">
            <button ng-click="appCtrl.zoomLower()" class="transparent"
                    ng-mouseover="EditorCtrl.changeButtonText('ZOOM_OUT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-zoom-out-outline"></span></button>
            <button ng-click="appCtrl.zoomHigher()" class="transparent"
                    ng-mouseover="EditorCtrl.changeButtonText('ZOOM_IN')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-zoom-in-outline"></span></button>
            <button class="toggle" ng-class="{off: !appCtrl.PreferencesService.preferences.showDys}" ng-click="appCtrl.toggleDys()"
                    ng-mouseover="EditorCtrl.changeButtonText('DYS')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-lightbulb"></span></button>
        </div>
        <div id="toggleViews" layout="row" layput-align="start center">
            <button class="toggle" ng-class="{off: !appCtrl.PreferencesService.preferences.showMenu}" ng-click="appCtrl.toggleMenu()" ng-disabled="appCtrl.isLocked"
                    ng-mouseover="EditorCtrl.changeButtonText('MENU')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-th-menu-outline"></span></button>
            <button class="toggle" ng-class="{off: !appCtrl.PreferencesService.preferences.showEditor}" ng-click="appCtrl.toggleEditor()"
                    ng-mouseover="EditorCtrl.changeButtonText('EDITOR')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-edit"></span></button>
            <button class="toggle" ng-class="{off: !appCtrl.PreferencesService.preferences.showViewer}" ng-click="appCtrl.toggleViewer()"
                    ng-mouseover="EditorCtrl.changeButtonText('VIEWER')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-eye-outline"></span></button>
        </div>
        <message id="message"></message>
        <div id="rightButtons" layout="row" layput-align="start center">
            <script type="text/ng-template" id="popoverLock">
                <div class="triangle"></div>
                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                    <form name="lockForm" novalidate layout="column">
                        <label for="password" layout="row" layout-align="center center" class="allInOne">
                            <p>{{ 'LOCK_PASSWORD' | translate }}</p>
                            <input id="password" type="password" ng-model="appCtrl.password" focus-on="password" ng-change="appCtrl.validationPassword()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                        </label>
                        <label for="confirmation" layout="row" layout-align="center center" class="allInOne">
                            <p>{{ 'LOCK_CONFIRMATION' | translate }}</p>
                            <input id="confirmation" type="password" ng-model="appCtrl.confirmation" focus-on="confirmation" ng-change="appCtrl.validationPassword()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">

                        </label>
                        <button type="submit" ng-click="appCtrl.lock(hidePopover)" ng-disabled="!appCtrl.validPassword"><span class="typcn typcn-tick-outline"></span></button>
                    </form>
                </div>
            </script>
            <script type="text/ng-template" id="popoverUnlock">
                <div class="triangle"></div>
                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                    <form name="unlockForm" novalidate layout="column">
                        <label for="unlockPassword" layout="row" layout-align="center center" class="allInOne">
                            <p>{{ 'LOCK_PASSWORD' | translate }}</p>
                            <input id="unlockPassword" ng-model="appCtrl.unlockPassword" focus-on="password">
                        </label>
                        <label for="unlockForce" layout="row">
                            <p>{{ 'UNLOCK_FORCE' | translate }}</p>
                            <input type="checkbox" id="unlockForce" name="striped" value="true" ng-model="appCtrl.forceUnlock">
                        </label>
                        <button type="submit" ng-click="appCtrl.unlock(hidePopover)"><span class="typcn typcn-tick-outline"></span></button>
                    </form>
                </div>
            </script>
            <button ns-popover ns-popover-timeout="-1"
                    ns-popover-template="popoverLock"
                    ns-popover-trigger="click"
                    ns-popover-hide-on-click="false"
                    ns-popover-hide-on-inside-click="false"
                    ns-popover-placement="bottom|right"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ng-if="!appCtrl.isLocked"
                    class="transparent"
                    ng-mouseover="EditorCtrl.changeButtonText('LOCK_BUTTON')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-lock-closed-outline"></span></button>
            <button ns-popover ns-popover-timeout="-1"
                    ns-popover-template="popoverUnlock"
                    ns-popover-trigger="click"
                    ns-popover-hide-on-click="false"
                    ns-popover-hide-on-inside-click="false"
                    ns-popover-placement="bottom|right"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ng-if="appCtrl.isLocked"
                    class="transparent"
                    ng-mouseover="EditorCtrl.changeButtonText('UNLOCK_BUTTON')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-lock-open-outline"></span></button>
            <button ng-click="EditorCtrl.print()" class="transparent"
                    ng-mouseover="EditorCtrl.changeButtonText('PRINT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-printer"></span></button>
            <button ng-click="appCtrl.help()" class="transparent help"
                    ng-mouseover="EditorCtrl.changeButtonText('HELP')" ng-mouseleave="EditorCtrl.changeButtonText('')">?</button>
            <button ng-click="EditorCtrl.startTour()" class="transparent" ng-if="EditorCtrl.OnBoardingService.showTourButton()"
                    ng-mouseover="EditorCtrl.changeButtonText('BTN_TOUR')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-compass"></span></button>
            <button ng-click="appCtrl.goSettings()" class="transparent" ng-disabled="appCtrl.isLocked"
                    ng-mouseover="EditorCtrl.changeButtonText('SETTINGS')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-cog-outline"></span></button>
        </div>
    </div>
    <div class="principal" flex layout="row">
        <div id="menu" class="left-panel" layout="row" ng-class="{hidden: !appCtrl.PreferencesService.preferences.showMenu}" ng-show="!EditorCtrl.inPrint">
            <div class="menu" layout="column">
                <div layout="row" layout-align="space-between center">
                    <p>{{ 'SCHOOLBAG' | translate }}</p>
                    <script type="text/ng-template" id="popoverNewClass">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                            <form name="popoverNewClass" novalidate ng-submit="EditorCtrl.addClassPopover(hidePopover)" layout="column">
                                <label for="templateClass" layout="row" layout-align="start center">
                                    <p>{{ 'TEMPLATE' | translate }}</p>
                                    <select id="templateClass" ng-model="EditorCtrl.templateName" ng-options="template.name as template.name for template in EditorCtrl.PrincipalTreeService.TemplateTreeService.availableTemplates">
                                        <option value="aucun">Aucun</option>
                                    </select>
                                </label>
                                <label for="newClassName" layout="row" layout-align="center center" class="allInOne">
                                    <p>{{ 'CLASS_NAME' | translate }}</p>
                                    <input id="newClassName" ng-model="EditorCtrl.newClass" focus-on="newClassName">
                                    <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                </label>
                            </form>
                        </div>
                    </script>
                    <div layout="row">
                        <button class="transparent light" ng-disabled="EditorCtrl.pasteButtonDisabled()" ng-click="EditorCtrl.pasteFolder()"
                                ng-mouseover="EditorCtrl.changeButtonText('BTN_PASTE')" ng-mouseleave="EditorCtrl.changeButtonText('')">
                            <span class="typcn typcn-book"></span>
                        </button>
                        <button class="transparent light" ng-click="EditorCtrl.importFrom()"
                                ng-mouseover="EditorCtrl.changeButtonText('BTN_IMPORT')" ng-mouseleave="EditorCtrl.changeButtonText('')">
                            <span class="typcn typcn-download-outline"></span>
                        </button>
                        <button ns-popover class="transparent light"
                                ns-popover-timeout="-1"
                                ns-popover-template="popoverNewClass"
                                ns-popover-trigger="click"
                                ns-popover-hide-on-click="false"
                                ns-popover-hide-on-inside-click="false"
                                ns-popover-placement="right"
                                ns-popover-theme="ns-popover-tooltip-theme"
                                ng-click="EditorCtrl.openClassPopover()"
                                ng-mouseover="EditorCtrl.changeButtonText('BTN_ADD_CLASS')" ng-mouseleave="EditorCtrl.changeButtonText('')">
                            <span class="typcn typcn-plus-outline"></span>
                        </button>
                    </div>

                </div>
                <div class="treeContainer" flex>
                    <script type="text/ng-template" id="popoverActionsFolder">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme" layout="column">
                            <div layout="column" layout-align="center center" ng-show="EditorCtrl.folderPopover === 'buttonBar'">
                                <div class="buttonBar" layout="row" layout-align="start start">
                                    <span class="button" ng-click="EditorCtrl.editFolder()"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_EDIT_FOLDER')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-edit"></span></span>
                                    <span class="button" ng-click="EditorCtrl.openAddFolder()"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_ADD_FOLDER')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-folder-add"></span></span>
                                    <span class="button" ng-click="EditorCtrl.openAddDocument()"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_ADD_MARKDOWN')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-document-add"></span></span>
                                    <span class="button" ng-click="EditorCtrl.copyFolder(hidePopover)"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_COPY')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-tabs-outline"></span></span>
                                    <span class="button" ng-click="EditorCtrl.cutFolder(hidePopover)"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_CUT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-scissors-outline"></span></span>
                                    <span class="button" ng-class="{'disabled':EditorCtrl.pasteButtonDisabled()}" ng-click="EditorCtrl.pasteFolder(hidePopover)"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_PASTE')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-book"></span></span>
                                    <span class="button" ng-click="EditorCtrl.exportTo(hidePopover)"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_EXPORT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-export-outline"></span></span>
                                    <span class="button" ng-click="EditorCtrl.importFrom(hidePopover)"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_IMPORT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-download-outline"></span></span>
                                    <span class="button" ng-click="EditorCtrl.openSaveTemplate(hidePopover)"
                                          ng-mouseleave="EditorCtrl.changeButtonText('')" ng-mouseover="EditorCtrl.changeButtonText('BTN_MAKE_MODEL')"><span class="typcn typcn-flow-children"></span></span>
                                    <span class="button" ng-click="EditorCtrl.openDelete()"
                                          ng-mouseover="EditorCtrl.changeButtonText('BTN_DELETE')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-trash"></span></span>
                                </div>
                                <message id="message"></message>
                            </div>

                            <form name="EditFolder" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'edit'">
                                <label for="folderName" layout="row" layout-align="center center" class="allInOne">
                                    <p>{{ 'NODE_NAME' | translate }}</p>
                                    <input id="folderName" ng-model="EditorCtrl.newNameFolder" focus-on="folderName">
                                    <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                </label>
                                <label for="defaultCss" layout="row" layout-align="center center">
                                    <p>{{ 'DEFAULT_CSS' | translate }}</p>
                                    <select id="defaultCss" ng-model="EditorCtrl.newDefaultCss" ng-options="css._id as css.name for css in appCtrl.CssService.availableCss" ng-change="EditorCtrl.submitFolderPopover(hidePopover)">
                                    </select>
                                </label>
                                <ngjs-color-picker ng-model="EditorCtrl.newColor" selected="EditorCtrl.newColor" options="appCtrl.ColorPickerService.optionsColumn" custom-colors="appCtrl.ColorPickerService.customColors" ng-click="EditorCtrl.submitFolderPopover(hidePopover)"></ngjs-color-picker>
                            </form>
                            <form name="AddFolder" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'addFolder'">
                                <label for="templateFolder" layout="row" layout-align="start center">
                                    <p>{{ 'TEMPLATE' | translate }}</p>
                                    <select id="templateFolder" ng-model="EditorCtrl.templateName" ng-options="template.name as template.name for template in EditorCtrl.PrincipalTreeService.TemplateTreeService.availableTemplates">
                                        <option value="aucun">Aucun</option>
                                    </select>
                                </label>
                                <label for="addFolderName" layout="row" layout-align="center center" class="allInOne">
                                    <p>{{ 'SUB_NODE_NAME' | translate }}</p>
                                    <input id="addFolderName" ng-model="EditorCtrl.newFolderName" focus-on="addFolderName">
                                    <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                </label>
                            </form>
                            <form name="AddDocument" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'addDocument'">
                                <label for="addDocumentName" layout="row" layout-align="center center" class="allInOne">
                                    <p>{{ 'DOC_TITLE' | translate }}</p>
                                    <input id="addDocumentName" ng-model="EditorCtrl.newDocumentName" focus-on="addDocumentName">
                                    <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                </label>
                            </form>
                            <form name="SaveTemplate" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'saveTemplate'">
                                <label for="templateName" layout="row" layout-align="center center" class="allInOne">
                                    <p>{{ 'TEMPLATE_NAME' | translate }}</p>
                                    <input id="templateName" ng-model="EditorCtrl.templateName" focus-on="templateName">
                                    <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                </label>
                            </form>
                            <form name="Delete" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'delete'">
                                <p>{{ 'CONFIRM_DELETE_FOLDER' | translate }}</p>
                                <div layout="row" layout-align="center center">
                                    <button type="submit"  value="Submit">{{ 'YES' | translate }}</button>
                                    <span class="button" ng-click="EditorCtrl.cancelAction(hidePopover)">{{ 'NO' | translate }}</span>
                                </div>
                            </form>
                            <form name="ConfirmTemplate" novalidate ng-submit="EditorCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="EditorCtrl.folderPopover === 'confirmTemplate'">
                                <p>{{ 'CONFIRM_SAVE_TEMPLATE' | translate }}</p>
                                <div layout="row" layout-align="center center">
                                    <button type="submit"  value="Submit">{{ 'YES' | translate }}</button>
                                    <span class="button" ng-click="EditorCtrl.cancelAction(hidePopover)">{{ 'NO' | translate }}</span>
                                </div>
                            </form>
                        </div>
                    </script>
                    <treecontrol class="tree-classic"
                                 tree-model="EditorCtrl.PrincipalTreeService.principalTree.tree"
                                 options="EditorCtrl.PrincipalTreeService.treeOptions"
                                 on-selection="EditorCtrl.selectNode(node)"
                                 selected-node="EditorCtrl.PrincipalTreeService.principalTree.selectedNode"
                                 expanded-nodes="EditorCtrl.PrincipalTreeService.principalTree.expandedNodes">
                        <span ns-popover ns-popover-timeout="-1"
                              ns-popover-template="popoverActionsFolder"
                              ns-popover-trigger="click"
                              ns-popover-hide-on-click="false"
                              ns-popover-hide-on-inside-click="false"
                              ns-popover-placement="top|left"
                              ns-popover-theme="ns-popover-tooltip-theme" ng-click="EditorCtrl.openFolderPopover(node)" ng-if="!node.leaf" ng-style="{color:node.color}">
                            <span class="anchor">
                                <span droppable drop="EditorCtrl.handleDrop" bin="bin" id="{{node.id}}" draggable item="item">{{node.name}}</span>
                                <div class="before" droppable drop="EditorCtrl.handleDrop" bin="bin" id="before{{node.id}}" ng-if="EditorCtrl.isFirstChild(node)"><hr></div>
                                <div class="after" droppable drop="EditorCtrl.handleDrop" bin="bin" id="after{{node.id}}" ng-if="EditorCtrl.showAfter(node)"><hr></div>
                            </span>
                        </span>
                        <span ng-if="node.leaf" >
                            <span class="anchor">
                                <span draggable item="item" id="{{node.id}}">{{node.name}}</span>
                                <div class="before" droppable drop="EditorCtrl.handleDrop" bin="bin" id="before{{node.id}}" ng-if="EditorCtrl.isFirstChild(node)"><hr></div>
                                <div class="after" droppable drop="EditorCtrl.handleDrop" bin="bin" id="after{{node.id}}"><hr></div>
                            </span>
                        </span>
                    </treecontrol>
                </div>
            </div>
        </div>

        <div flex layout="column" class="content" ng-class="{goright: (appCtrl.PreferencesService.preferences.showMenu && !EditorCtrl.inPrint)}">
            <div flex layout=row">
                <div id="editor" class="editor" flex layout="column" ng-show="!EditorCtrl.inPrint" ng-class="{hidden: !EditorCtrl.showEditor()}">
                    <div flex layout="column" ng-if="EditorCtrl.showEditor()">
                        <script type="text/ng-template" id="popoverDeleteDocument">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                <p>{{ 'CONFIRM_DELETE_DOCUMENT' | translate }}</p>
                                <div layout="row" layout-align="center center">
                                    <button ng-click="EditorCtrl.deleteDocument(hidePopover)">{{ 'YES' | translate }}</button>
                                    <button ng-click="EditorCtrl.cancelAction(hidePopover)">{{ 'NO' | translate }}</button>
                                </div>
                            </div>
                        </script>

                        <script type="text/ng-template" id="popoverExportDocument">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                <label for="fileFormat" layout="row" layout-align="start center">
                                    <p>{{ 'EXPORT_FORMAT' | translate }}</p>
                                    <select id="fileFormat" ng-model="EditorCtrl.fileFormat" ng-change="EditorCtrl.exportDocument(hidePopover)">
                                        <option value="json">Natao export (.json)</option>
                                        <option value="md">Markdown (.md)</option>
                                    </select>
                                </label>
                            </div>
                        </script>

                        <div layout="row" layout-align="space-between center">
                            <label for="title" layout="row" layout-align="start center">
                                <p>{{ 'DOC_TITLE' | translate }}</p>
                                <input flex id="title" type="text" ng-model="EditorCtrl.currentMarkdown.title" ng-change="EditorCtrl.refresh()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <div class="buttonBar" layout="row" layout-align="end center">
                                <button ng-click="EditorCtrl.copyDocument()"
                                        ng-mouseover="EditorCtrl.changeButtonText('BTN_COPY')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-tabs-outline"></span></button>
                                <button ng-click="EditorCtrl.cutDocument()"
                                        ng-mouseover="EditorCtrl.changeButtonText('BTN_CUT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-scissors-outline"></span></button>
                                <!--button ng-click="EditorCtrl.exportDocument()"
                                        ng-mouseover="EditorCtrl.changeButtonText('BTN_EXPORT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-export-outline"></span></button-->
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverExportDocument"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="left"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-mouseover="EditorCtrl.changeButtonText('BTN_EXPORT')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-export-outline"></span></button>
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverDeleteDocument"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="left"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-mouseover="EditorCtrl.changeButtonText('BTN_DELETE')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-trash"></span></button>
                            </div>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <label for="css" layout="row" layout-align="start center">
                                <p>{{ 'DOC_CSS' | translate }}</p>
                                <select id="css" ng-model="EditorCtrl.currentMarkdown.css" ng-options="css._id as css.name for css in appCtrl.CssService.availableCss" ng-change="EditorCtrl.refresh()">
                                </select>
                            </label>

                            <label for="created" layout="row" layout-align="start center">
                                <p>{{ 'DOC_CREATED' | translate }}</p>
                                <input id="created" type="date" ng-model="EditorCtrl.currentMarkdown.created" ng-change="EditorCtrl.refresh()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>

                            <script type="text/ng-template" id="popoverEditorSetting">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme" layout="column">
                                    <label for="striped" layout="row">
                                        <p>{{ 'SETTING_STRIPES' | translate }}</p>
                                        <input type="checkbox" id="striped" name="striped" value="true" ng-model="EditorCtrl.PreferencesService.preferences.striped" ng-change="EditorCtrl.PreferencesService.savePreferences()">
                                    </label>

                                    <label for="space" layout="row">
                                        <p>{{ 'SETTING_LINE_HEIGHT' | translate }}</p>
                                        <input type="checkbox" id="space" name="striped" value="true" ng-model="EditorCtrl.PreferencesService.preferences.space" ng-change="EditorCtrl.changeSpace()">
                                    </label>
                                    <label for="scroll" layout="row">
                                        <p>{{ 'SETTING_SYNCSCROLL' | translate }}</p>
                                        <input type="checkbox" id="scroll" name="striped" value="true" ng-model="EditorCtrl.PreferencesService.preferences.syncScroll" ng-change="EditorCtrl.PreferencesService.savePreferences()">
                                    </label>
                                </div>
                            </script>
                            <div class="buttonBar" layout="row" layout-align="end center">
                                <button ns-popover
                                        ns-popover-template="popoverEditorSetting"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="left"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-mouseover="EditorCtrl.changeButtonText('SETTING_EDITOR')" ng-mouseleave="EditorCtrl.changeButtonText('')"><span class="typcn typcn-cog"></span></button>
                            </div>

                        </div>
                        <div ui-codemirror="{ onLoad : EditorCtrl.codeMirrorLoaded }" flex ui-codemirror-opts="EditorCtrl.editorOptions" ng-model="EditorCtrl.currentMarkdown.md" ng-change="EditorCtrl.refresh()"
                             ng-if="EditorCtrl.currentMarkdown"
                                       ng-class="{space:EditorCtrl.PreferencesService.preferences.space, striped: EditorCtrl.PreferencesService.preferences.striped}"></div>
                    </div>
                </div>
                <div id="viewer" class="viewer CodeMirror-vscrollbar" flex ng-class="[{hidden: !EditorCtrl.showViewer()},{inprint: EditorCtrl.inPrint}]"
                     layout="column">
                    <div flex layout="column" layout-align="start stretch" ng-if="EditorCtrl.showViewer()">
                        <div class="haut" layout="row" layout-align="start stretch">
                            <div class="identity" layout="column" layout-align="center stretch">
                                <p>{{EditorCtrl.PreferencesService.preferences.name}}</p>
                                <p>{{EditorCtrl.PreferencesService.preferences.firstName}}</p>
                                <p>{{EditorCtrl.PreferencesService.preferences.className}}</p>
                            </div>
                            <div class="title-zone" flex layout="column" layout-align="center stretch">
                                <h1>{{EditorCtrl.currentMarkdown.title}}</h1>
                                <p id="dateCreated">{{EditorCtrl.currentMarkdown.created | date : 'longDate'}}</p>
                            </div>
                        </div>
                        <div class="notation"></div>
                        <div class="devoir" flex layout="row" layout-align="start stretch">
                            <div class="marge"></div>
                            <div class="rendu" markdown-to-html="EditorCtrl.currentMarkdown.md" flex></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="EditorCtrl.PendingService.showLoader()" class="preloader-wrap" layout="column" layout-align="center center">
        <span class="preloader"></span>
        <span class="screen"></span>
    </div>
</div>