<div layout="column" flex ng-controller="SettingsController as SettingCtrl">
    <div class="bandeau" layout="row" layout-align="space-between center">
        <button ng-click="SettingCtrl.save()" ng-show="SettingCtrl.valid" title="{{'SAVE' | translate}}"><span
                class="typcn typcn-input-checked-outline"></span></button>
    </div>
    <div flex layout="column" layout-align="start stretch">
        <tabs>
            <pane title="{{ 'SETTING_SETTING' | translate }}" icon="typcn-cog-outline" class="setting">
                <div flex layout="column" layout-align="start stretch">
                    <div flex layout="row" layout-align="space-around stretch">
                        <h1>{{ 'SETTING_LANGUAGE' | translate }}</h1>
                        <div class="horizontal-flow" flex layout="column">
                            <div flex layout="row" layout-align="start center">
                                <label for="fr_FR" layout="column" layout-align="center center">
                                    <span class="flag-icon flag-icon-fr"></span>
                                    <P>Français</P>
                                    <input type="radio" name="language" value="fr_FR" id="fr_FR"
                                           ng-model="SettingCtrl.PreferencesService.preferences.language"
                                           ng-click="SettingCtrl.changeLanguage('fr_FR')">
                                </label>

                                <label for="en_US" layout="column" layout-align="center center">
                                    <span class="flag-icon flag-icon-gb"></span>
                                    <p>English</p>
                                    <input type="radio" name="language" value="en_US" id="en_US"
                                           ng-model="SettingCtrl.PreferencesService.preferences.language"
                                           ng-click="SettingCtrl.changeLanguage('en_US')">
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div flex layout="row" layout-align="space-around center">
                        <h1>{{ 'SETTING_DATABASE' | translate }}</h1>
                        <div layout="row" layout-align="start center">
                            <p>{{SettingCtrl.PreferencesService.settings.fileDatabase}}</p>
                            <button ng-click="SettingCtrl.chooseDatabase()" title="{{ 'FILE_LOAD' | translate }}"><span
                                    class="typcn typcn-folder-open"></span></button>
                            <button ng-click="SettingCtrl.newDatabase()" title="{{ 'FILE_NEW' | translate }}"><span
                                    class="typcn typcn-database"></span></button>
                        </div>
                    </div>
                    <hr>
                    <div flex layout="row" layout-align="space-around center">
                        <h1>{{ 'SETTING_IDENTITY' | translate }}</h1>
                        <div layout="row" layout-align="start center">
                            <label for="firstName" layout="column" layout-align="center center">
                                <p>{{ 'PROFILE_FIRSTNAME' | translate }}</p>
                                <input type="text" id="firstName"
                                       ng-model="SettingCtrl.PreferencesService.preferences.firstName"
                                       ng-change="SettingCtrl.changeName()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <label for="name" layout="column" layout-align="center center">
                                <p>{{ 'PROFILE_NAME' | translate }}</p>
                                <input type="text" id="name" ng-model="SettingCtrl.PreferencesService.preferences.name"
                                       ng-change="SettingCtrl.changeName()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div flex layout="row" layout-align="space-around stretch">
                        <h1>{{ 'SETTING_THEME' | translate }}</h1>
                        <div class="horizontal-flow" flex layout="column">
                            <div flex layout="row" layout-align="start center">
                                <label for="purple" layout="column" layout-align="center center">
                                    <span class="chooser chooser-purple"></span>
                                    <input type="radio" name="colorTheme" value="purple" id="purple" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="blue" layout="column" layout-align="center center">
                                    <span class="chooser chooser-blue"></span>
                                    <input type="radio" name="colorTheme" value="blue" id="blue" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="green" layout="column" layout-align="center center">
                                    <span class="chooser chooser-green"></span>
                                    <input type="radio" name="colorTheme" value="green" id="green" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="orange" layout="column" layout-align="center center">
                                    <span class="chooser chooser-orange"></span>
                                    <input type="radio" name="colorTheme" value="orange" id="orange" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="red" layout="column" layout-align="center center">
                                    <span class="chooser chooser-red"></span>
                                    <input type="radio" name="colorTheme" value="red" id="red" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="pink" layout="column" layout-align="center center">
                                    <span class="chooser chooser-pink"></span>
                                    <input type="radio" name="colorTheme" value="pink" id="pink" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="grey" layout="column" layout-align="center center">
                                    <span class="chooser chooser-grey"></span>
                                    <input type="radio" name="colorTheme" value="grey" id="grey" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
            </pane>
            <pane title="{{ 'SETTING_STYLE' | translate }}" icon="typcn-brush" class="setting">
                <div flex layout="row" layout-align="start stretch">

                    <div flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <p>{{ 'DOC_CSS' | translate }}</p>
                            <select id="css" ng-model="SettingCtrl.currentCss"
                                    ng-options="css as css.name for css in SettingCtrl.CssService.availableCss"
                                    ng-change="SettingCtrl.changeCss()">
                            </select>

                            <script type="text/ng-template" id="popoverAddCss">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <form name="AddDocument" novalidate ng-submit="SettingCtrl.addCss(hidePopover)"
                                          layout="column" layout-align="start center">
                                        <label for="addCssName" layout="column" layout-align="center center">
                                            <p>{{ 'DOC_TITLE' | translate }}</p>
                                            <input id="addCssName" ng-model="SettingCtrl.newCssName"
                                                   focus-on="addCssName">
                                        </label>
                                    </form>
                                </div>
                            </script>


                            <script type="text/ng-template" id="popoverDeleteCss">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <p>{{ 'CONFIRM_DELETE_CSS' | translate }}</p>
                                    <div layout="row" layout-align="center center">
                                        <button ng-click="SettingCtrl.deleteCss(hidePopover)">{{ 'YES' | translate }}
                                        </button>
                                        <button ng-click="hidePopover()">{{ 'NO' | translate }}</button>
                                    </div>
                                </div>
                            </script>

                            <div class="buttonBar" layout="row" layout-align="end center">
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverAddCss"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        title="{{ 'BTN_ADD' | translate }}" ng-click="SettingCtrl.initAddCss()"><span
                                        class="typcn typcn-plus-outline"></span></button>
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverDeleteCss"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        title="{{ 'BTN_DELETE' | translate }}"><span class="typcn typcn-trash"></span>
                                </button>
                            </div>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <label for="cssName" layout="row" layout-align="start center">
                                <p>{{ 'CSS_NAME' | translate }}</p>
                                <input flex id="cssName" type="text" ng-model="SettingCtrl.currentCss.name"
                                       ng-change="SettingCtrl.saveCss()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <script type="text/ng-template" id="popoverEditorSetting">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme" layout="column">
                                    <label for="striped" layout="row">
                                        <p>Rayures</p>
                                        <input type="checkbox" id="striped" name="striped" value="true" ng-model="SettingCtrl.PreferencesService.preferences.striped" ng-change="SettingCtrl.PreferencesService.savePreferences()">
                                    </label>

                                    <label for="striped" layout="row">
                                        <p>Espace entre les lignes</p>
                                        <input type="checkbox" id="space" name="striped" value="true" ng-model="SettingCtrl.PreferencesService.preferences.space" ng-change="SettingCtrl.PreferencesService.savePreferences()">
                                    </label>
                                </div>
                            </script>

                            <button ns-popover
                                    ns-popover-template="popoverEditorSetting"
                                    ns-popover-trigger="click"
                                    ns-popover-hide-on-click="false"
                                    ns-popover-hide-on-inside-click="false"
                                    ns-popover-placement="bottom"
                                    ns-popover-theme="ns-popover-tooltip-theme"
                                    title="{{ 'BTN_DELETE' | translate }}"><span class="typcn typcn-cog"></span>
                            </button>
                        </div>


                        <div class="customEditor" ui-ace="{
                             useWrapMode : false,
                             showGutter: true,
                             theme:'xcode',
                             mode: 'css',
                             onChange: SettingCtrl.saveCss}"
                             flex ng-model="SettingCtrl.currentCss.css" focus-on="cssEditor"
                             ng-class="{space:SettingCtrl.PreferencesService.preferences.space, striped: SettingCtrl.PreferencesService.preferences.striped}">
                        </div>
                    </div>

                    <div flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center">
                                <p>{{ 'SETTING_DOCUMENT_TEST' | translate }}</p>
                                <select id="document" ng-model="SettingCtrl.currentDoc"
                                        ng-options="document as document.title for document in SettingCtrl.documents"
                                        ng-change="SettingCtrl.changeDocument()"></select>
                            </div>
                            <switch id="enabled" name="enabled" ng-model="SettingCtrl.viewer"
                                    on="{{ 'SETTING_SWITCH_VIEWER' | translate }}"
                                    off="{{ 'SETTING_SWITCH_HTML' | translate }}" class="green wide"></switch>
                        </div>

                        <div class="customEditor" ui-ace="{
                             useWrapMode : false,
                             showGutter: false,
                             theme:'xcode',
                             mode: 'html',
                             onChange: SettingCtrl.saveCss,
                             onLoad: SettingCtrl.editorReadOnly}"
                             flex ng-model="SettingCtrl.currentHtmlAll"
                             ng-if="!SettingCtrl.viewer" ng-class="{space:SettingCtrl.PreferencesService.preferences.space, striped: SettingCtrl.PreferencesService.preferences.striped}"></div>

                        <div ng-if="SettingCtrl.viewer" class="visualiser" flex
                             layout="column" layout-align="start stretch">
                            <div class="haut" layout="row" layout-align="start stretch">
                                <div class="identity" layout="column" layout-align="center center">
                                    <p>{{SettingCtrl.PreferencesService.preferences.name}}</p>
                                    <p>{{SettingCtrl.PreferencesService.preferences.firstName}}</p>
                                </div>
                                <div class="title-zone" flex layout="column" layout-align="center stretch">
                                    <h1>{{SettingCtrl.currentDoc.title}}</h1>
                                    <p id="dateCreated">{{SettingCtrl.currentDoc.created | date : 'longDate'}}</p>
                                </div>
                            </div>
                            <div class="notation"></div>
                            <div class="devoir" flex layout="row" layout-align="start stretch">
                                <div class="marge"></div>
                                <div class="rendu" ng-bind-html="SettingCtrl.currentHTML" flex></div>
                            </div>

                        </div>

                    </div>
                </div>
            </pane>
            <pane title="{{ 'SETTING_TEMPLATE' | translate }}" icon="typcn-flow-children" class="setting">
                <div flex layout="row" layout-align="start stretch">

                    <div flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <p>{{ 'DOC_CSS' | translate }}</p>
                            <select id="template" ng-model="SettingCtrl.currentTemplate"
                                    ng-options="template as template.name for template in SettingCtrl.TemplateTreeService.availableTemplates"
                                    ng-change="SettingCtrl.changeCss()">
                            </select>
                        </div>
                        <treecontrol class="tree-classic border"
                                     tree-model="SettingCtrl.currentTemplate"
                                     options="SettingCtrl.treeOptions"
                                     selected-node="SettingCtrl.selectedNode"
                                     expanded-nodes="SettingCtrl.expandedNodes">
                            <span>{{node.name}}</span>
                        </treecontrol>

                    </div>
                </div>

            </pane>
        </tabs>
    </div>
</div>
