<div layout="column" flex ng-controller="SettingsController as SettingCtrl">
    <div class="bandeau" layout="row" layout-align="space-between center">
        <button ng-click="SettingCtrl.save()" ng-show="SettingCtrl.valid"
                ng-mouseover="SettingCtrl.changeButtonText('SETTING_QUIT')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span
                class="typcn typcn-arrow-back-outline"></span></button>

        <message flex layout="row" layout-align="center center"></message>
    </div>
    <div flex layout="column" layout-align="start stretch">
        <tabs>
            <pane title="{{ 'SETTING_SETTING' | translate }}" icon="typcn-cog-outline" class="setting">
                <div flex layout="column" layout-align="start stretch">
                    <hr>
                    <div flex layout="row" layout-align="space-around center">
                        <h1>{{ 'SETTING_DATABASE' | translate }}</h1>
                        <div layout="row" layout-align="start center">
                            <p>{{SettingCtrl.PreferencesService.settings.fileDatabase}}</p>
                            <button ng-click="SettingCtrl.chooseDatabase()"
                                    ng-mouseover="SettingCtrl.changeButtonText('FILE_LOAD')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span
                                    class="typcn typcn-folder-open"></span></button>
                            <button ng-click="SettingCtrl.newDatabase()"
                                    ng-mouseover="SettingCtrl.changeButtonText('FILE_NEW')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span
                                    class="typcn typcn-database"></span></button>
                        </div>
                    </div>
                    <hr>
                    <div flex layout="row" layout-align="space-around center">
                        <h1>{{ 'SETTING_IDENTITY' | translate }}</h1>
                        <div layout="row" layout-align="start center">
                            <label for="firstName" layout="column" layout-align="center center">
                                <p>{{ 'PROFILE_FIRSTNAME' | translate }}</p>
                                <input type="text" id="firstName"
                                       ng-model="SettingCtrl.PreferencesService.preferences.firstName"
                                       ng-change="SettingCtrl.settingsValide()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <label for="name" layout="column" layout-align="center center">
                                <p>{{ 'PROFILE_NAME' | translate }}</p>
                                <input type="text" id="name" ng-model="SettingCtrl.PreferencesService.preferences.name"
                                       ng-change="SettingCtrl.settingsValide()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <label for="className" layout="column" layout-align="center center">
                                <p>{{ 'PROFILE_CLASSNAME' | translate }}</p>
                                <input type="text" id="className"
                                       ng-model="SettingCtrl.PreferencesService.preferences.className"
                                       ng-change="SettingCtrl.settingsValide()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div flex layout="row" layout-align="space-around stretch">
                        <h1>{{ 'SETTING_THEME' | translate }}</h1>
                        <div class="horizontal-flow" flex layout="column">
                            <div flex layout="row" layout-align="start center">
                                <label for="purple" layout="column" layout-align="center center">
                                    <span class="chooser chooser-purple"></span>
                                    <input type="radio" name="colorTheme" value="purple" id="purple" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="blue" layout="column" layout-align="center center">
                                    <span class="chooser chooser-blue"></span>
                                    <input type="radio" name="colorTheme" value="blue" id="blue" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="green" layout="column" layout-align="center center">
                                    <span class="chooser chooser-green"></span>
                                    <input type="radio" name="colorTheme" value="green" id="green" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="orange" layout="column" layout-align="center center">
                                    <span class="chooser chooser-orange"></span>
                                    <input type="radio" name="colorTheme" value="orange" id="orange" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="red" layout="column" layout-align="center center">
                                    <span class="chooser chooser-red"></span>
                                    <input type="radio" name="colorTheme" value="red" id="red" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="pink" layout="column" layout-align="center center">
                                    <span class="chooser chooser-pink"></span>
                                    <input type="radio" name="colorTheme" value="pink" id="pink" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="grey" layout="column" layout-align="center center">
                                    <span class="chooser chooser-grey"></span>
                                    <input type="radio" name="colorTheme" value="grey" id="grey" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </pane>
            <pane title="{{ 'SETTING_STYLE' | translate }}" icon="typcn-brush" class="setting">
                <div flex layout="row" layout-align="start stretch">
                    <onboarding-popover enabled="SettingCtrl.onboardingEnabledStyle" steps="SettingCtrl.onBoardingStepsStyle" step-index='SettingCtrl.onboardingIndexStyle' on-finish-callback="SettingCtrl.finishTourStyle" custom-options="SettingCtrl.OnBoardingService.customOptions"></onboarding-popover>
                    <div id="styleEditor" flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <label for="css" layout="row" layout-align="start center">
                                <p>{{ 'DOC_CSS' | translate }}</p>
                                <select id="css" ng-model="SettingCtrl.currentCss"
                                        ng-options="css as css.name for css in SettingCtrl.CssService.availableCss"
                                        ng-change="SettingCtrl.changeCss()">
                                </select>
                            </label>


                            <script type="text/ng-template" id="popoverAddCss">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <form name="AddDocument" novalidate ng-submit="SettingCtrl.addCss(hidePopover)"
                                          layout="column" layout-align="start center">
                                        <label for="addCssName" layout="column" layout-align="center center">
                                            <p>{{ 'DOC_TITLE' | translate }}</p>
                                            <input id="addCssName" ng-model="SettingCtrl.newCssName"
                                                   focus-on="addCssName">
                                        </label>
                                    </form>
                                </div>
                            </script>


                            <script type="text/ng-template" id="popoverDeleteCss">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <p>{{ 'CONFIRM_DELETE_CSS' | translate }}</p>
                                    <div layout="row" layout-align="center center">
                                        <button ng-click="SettingCtrl.deleteCss(hidePopover)">{{ 'YES' | translate }}
                                        </button>
                                        <button ng-click="hidePopover()">{{ 'NO' | translate }}</button>
                                    </div>
                                </div>
                            </script>

                            <div class="buttonBar" layout="row" layout-align="end center">
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverAddCss"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-click="SettingCtrl.initAddCss()"
                                        ng-mouseover="SettingCtrl.changeButtonText('BTN_ADD')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span
                                        class="typcn typcn-plus-outline"></span></button>
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverDeleteCss"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-mouseover="SettingCtrl.changeButtonText('BTN_DELETE')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-trash"></span>
                                </button>
                            </div>
                            <button ng-click="SettingCtrl.startTourStyle()"  ng-if="SettingCtrl.OnBoardingService.showTourButton()"
                                    ng-mouseover="SettingCtrl.changeButtonText('BTN_TOUR')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-compass"></span></button>
                        </div>
                        <div class="lineField" layout="row" layout-align="space-between center">
                            <label for="cssName" layout="row" layout-align="start center">
                                <p>{{ 'CSS_NAME' | translate }}</p>
                                <input flex id="cssName" type="text" ng-model="SettingCtrl.currentCss.name"
                                       ng-change="SettingCtrl.saveCss()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </label>
                            <script type="text/ng-template" id="popoverEditorSetting">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme" layout="column">
                                    <label for="striped" layout="row">
                                        <p>Rayures</p>
                                        <input type="checkbox" id="striped" name="striped" value="true" ng-model="SettingCtrl.PreferencesService.preferences.striped" ng-change="SettingCtrl.PreferencesService.savePreferences()">
                                    </label>

                                    <label for="striped" layout="row">
                                        <p>Espace entre les lignes</p>
                                        <input type="checkbox" id="space" name="striped" value="true" ng-model="SettingCtrl.PreferencesService.preferences.space" ng-change="SettingCtrl.PreferencesService.savePreferences()">
                                    </label>
                                </div>
                            </script>

                            <button ns-popover
                                    ns-popover-template="popoverEditorSetting"
                                    ns-popover-trigger="click"
                                    ns-popover-hide-on-click="false"
                                    ns-popover-hide-on-inside-click="false"
                                    ns-popover-placement="left"
                                    ns-popover-theme="ns-popover-tooltip-theme"
                                    ng-mouseover="SettingCtrl.changeButtonText('SETTING_EDITOR')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-cog"></span>
                            </button>
                        </div>

                        <div ui-codemirror="{ onLoad : SettingCtrl.setCssEditor }" flex ui-codemirror-opts="SettingCtrl.cssEditorOptions" ng-model="SettingCtrl.currentCss.css" ng-change="SettingCtrl.saveCss()"
                                       ng-class="{space:SettingCtrl.PreferencesService.preferences.space, striped: SettingCtrl.PreferencesService.preferences.striped}"></div>
                    </div>

                    <div id="styleViewer" flex layout="column" layout-align="start stretch">
                        <div  layout="row" layout-align="space-between center">
                            <label for="document" layout="row" layout-align="start center">
                                <p>{{ 'SETTING_DOCUMENT_TEST' | translate }}</p>
                                <select id="document" ng-model="SettingCtrl.currentDoc" ng-disabled="SettingCtrl.disableDocumentChoice"
                                        ng-options="document as document.title for document in SettingCtrl.documents"
                                        ng-change="SettingCtrl.changeDocument()"></select>
                            </label>
                            <switch id="enabled" name="enabled" ng-model="SettingCtrl.viewer"
                                    on="{{ 'SETTING_SWITCH_VIEWER' | translate }}"
                                    off="{{ 'SETTING_SWITCH_HTML' | translate }}" class="green wide"></switch>
                        </div>

                        <ui-codemirror flex ui-codemirror-opts="SettingCtrl.htmlEditorOptions" ng-model="SettingCtrl.currentHtmlAll" ng-if="!SettingCtrl.viewer"
                                       ng-class="{space:SettingCtrl.PreferencesService.preferences.space, striped: SettingCtrl.PreferencesService.preferences.striped}"></ui-codemirror>

                        <div ng-if="SettingCtrl.viewer" id="viewer" class="viewer" flex
                             layout="column" layout-align="start stretch">
                            <div flex layout="column" layout-align="start stretch">
                                <div id="header" layout="row" layout-align="start stretch">
                                    <div id="identity" layout="column" layout-align="center stretch">
                                        <p>{{SettingCtrl.PreferencesService.preferences.name}}</p>
                                        <p>{{SettingCtrl.PreferencesService.preferences.firstName}}</p>
                                        <p>{{SettingCtrl.PreferencesService.preferences.className}}</p>
                                    </div>
                                    <div id="title-zone" flex layout="column" layout-align="center stretch">
                                        <h1>{{SettingCtrl.currentDoc.title}}</h1>
                                        <p id="dateCreated">{{SettingCtrl.currentDoc.created | date : 'longDate'}}</p>
                                    </div>
                                </div>
                                <div id="separator"></div>
                                <div id="content" flex layout="row" layout-align="start stretch">
                                    <div id="margin"></div>
                                    <div id="made" markdown-to-html="SettingCtrl.currentDoc.md"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </pane>
            <pane title="{{ 'SETTING_TEMPLATE' | translate }}" icon="typcn-flow-children" class="setting">
                <div flex layout="row" layout-align="start stretch">
                    <onboarding-popover enabled="SettingCtrl.onboardingEnabledTemplate" steps="SettingCtrl.onBoardingStepsTemplate" step-index='SettingCtrl.onboardingIndexTemplate' on-finish-callback="SettingCtrl.finishTourTemplate" custom-options="SettingCtrl.OnBoardingService.customOptions"></onboarding-popover>
                    <div id="templateExplorer" flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <label for="template" layout="row" layout-align="start center">
                                <p>{{ 'TEMPLATE_SELECT' | translate }}</p>
                                <select id="template" ng-model="SettingCtrl.currentTemplate"
                                        ng-options="template as template.name for template in SettingCtrl.TemplateTreeService.availableTemplates">
                                </select>
                            </label>

                            <script type="text/ng-template" id="popoverAddTemplate">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <form name="AddTemplate" novalidate ng-submit="SettingCtrl.addTemplate(hidePopover)"
                                          layout="column" layout-align="start center">
                                        <label for="addTemplateName" layout="column" layout-align="center center">
                                            <p>{{ 'DOC_TITLE' | translate }}</p>
                                            <input id="addTemplateName" ng-model="SettingCtrl.newTemplateName"
                                                   focus-on="addTemplateName">
                                        </label>
                                    </form>
                                </div>
                            </script>


                            <script type="text/ng-template" id="popoverDeleteTemplate">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip"
                                     ng-class="appCtrl.PreferencesService.preferences.colorTheme">
                                    <p>{{ 'CONFIRM_DELETE_TEMPLATE' | translate }}</p>
                                    <div layout="row" layout-align="center center">
                                        <button ng-click="SettingCtrl.deleteTemplate(hidePopover)">{{ 'YES' | translate }}
                                        </button>
                                        <button ng-click="hidePopover()">{{ 'NO' | translate }}</button>
                                    </div>
                                </div>
                            </script>

                            <div class="buttonBar" layout="row" layout-align="end center">
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverAddTemplate"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"ng-click="SettingCtrl.initAddTemplate()"
                                        ng-mouseover="SettingCtrl.changeButtonText('BTN_ADD')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span
                                        class="typcn typcn-plus-outline"></span></button>
                                <button ns-popover ns-popover-timeout="-1"
                                        ns-popover-template="popoverDeleteTemplate"
                                        ns-popover-trigger="click"
                                        ns-popover-hide-on-click="false"
                                        ns-popover-hide-on-inside-click="false"
                                        ns-popover-placement="bottom"
                                        ns-popover-theme="ns-popover-tooltip-theme"
                                        ng-mouseover="SettingCtrl.changeButtonText('BTN_DELETE')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-trash"></span>
                                </button>
                            </div>
                            <button ng-click="SettingCtrl.startTourTemplate()"  ng-if="SettingCtrl.OnBoardingService.showTourButton()"
                                    ng-mouseover="SettingCtrl.changeButtonText('BTN_TOUR')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-compass"></span></button>
                        </div>

                        <div class="templateContainer" flex>
                            <script type="text/ng-template" id="popoverActionsFolder">
                                <div class="triangle"></div>
                                <div class="ns-popover-tooltip" ng-class="appCtrl.PreferencesService.preferences.colorTheme" layout="column">
                                    <div class="buttonBar" layout="row" layout-align="start start" ng-show="SettingCtrl.folderPopover === 'buttonBar'">
                                        <span class="button" ng-click="SettingCtrl.editFolder()"
                                              ng-mouseover="SettingCtrl.changeButtonText('BTN_EDIT_FOLDER')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-edit"></span></span>
                                        <span class="button" ng-click="SettingCtrl.openAddFolder()"
                                              ng-mouseover="SettingCtrl.changeButtonText('BTN_ADD_FOLDER')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-folder-add"></span></span>
                                        <div layout="column" layout-align="start start">
                                            <span class="button" ng-click="SettingCtrl.copyFolder(hidePopover)"
                                                  ng-mouseover="SettingCtrl.changeButtonText('BTN_COPY')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-tabs-outline"></span></span>
                                            <span class="button" ng-click="SettingCtrl.cutFolder(hidePopover)"
                                                  ng-mouseover="SettingCtrl.changeButtonText('BTN_CUT')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-scissors-outline"></span></span>
                                        </div>
                                        <span class="button" ng-class="{'disabled':SettingCtrl.pasteButtonDisabled()}" ng-click="SettingCtrl.pasteFolder(hidePopover)"
                                              ng-mouseover="SettingCtrl.changeButtonText('BTN_PASTE')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-book"></span></span>
                                        <span class="button" ng-click="SettingCtrl.openDelete()"
                                              ng-mouseover="SettingCtrl.changeButtonText('BTN_DELETE')" ng-mouseleave="SettingCtrl.changeButtonText('')"><span class="typcn typcn-trash"></span></span>
                                    </div>
                                    <form name="EditFolder" novalidate ng-submit="SettingCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="SettingCtrl.folderPopover === 'edit'">
                                        <label for="folderName" layout="row" layout-align="center center" class="allInOne">
                                            <p>{{ 'NODE_NAME' | translate }}</p>
                                            <input id="folderName" ng-model="SettingCtrl.newNameFolder" focus-on="folderName">
                                            <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                        </label>
                                        <label for="defaultCss" layout="row" layout-align="center center">
                                            <p>{{ 'DEFAULT_CSS' | translate }}</p>
                                            <select id="defaultCss" ng-model="SettingCtrl.newDefaultCss" ng-options="css._id as css.name for css in appCtrl.CssService.availableCss" ng-change="SettingCtrl.submitFolderPopover(hidePopover)">
                                            </select>
                                        </label>
                                        <ngjs-color-picker ng-model="SettingCtrl.newColor" selected="SettingCtrl.newColor" options="appCtrl.ColorPickerService.optionsColumn" custom-colors="appCtrl.ColorPickerService.customColors" ng-click="SettingCtrl.submitFolderPopover(hidePopover)"></ngjs-color-picker>
                                    </form>
                                    <form name="AddFolder" novalidate ng-submit="SettingCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="SettingCtrl.folderPopover === 'addFolder'">
                                        <label for="addFolderName" layout="row" layout-align="center center" class="allInOne">
                                            <p>{{ 'SUB_NODE_NAME' | translate }}</p>
                                            <input id="addFolderName" ng-model="SettingCtrl.newFolderName" focus-on="addFolderName">
                                            <button type="submit"><span class="typcn typcn-tick-outline"></span></button>
                                        </label>
                                    </form>
                                    <form name="Delete" novalidate ng-submit="SettingCtrl.submitFolderPopover(hidePopover)" layout="column" layout-align="start center" ng-show="SettingCtrl.folderPopover === 'delete'">
                                        <p>{{ 'CONFIRM_DELETE_FOLDER' | translate }}</p>
                                        <div layout="row" layout-align="center center">
                                            <button type="submit"  value="Submit">{{ 'YES' | translate }}</button>
                                            <span class="button" ng-click="SettingCtrl.cancelAction(hidePopover)">{{ 'NO' | translate }}</span>
                                        </div>
                                    </form>
                                </div>
                            </script>
                            <treecontrol class="tree-classic border"
                                         tree-model="SettingCtrl.currentTemplate"
                                         options="SettingCtrl.treeOptions"
                                         selected-node="SettingCtrl.selectedNode"
                                         expanded-nodes="SettingCtrl.expandedNodes">
                                <span ns-popover ns-popover-timeout="-1"
                                      ns-popover-template="popoverActionsFolder"
                                      ns-popover-trigger="click"
                                      ns-popover-hide-on-click="false"
                                      ns-popover-hide-on-inside-click="false"
                                      ns-popover-placement="top|left"
                                      ns-popover-theme="ns-popover-tooltip-theme"
                                      ng-click="SettingCtrl.openFolderPopover(node)"
                                      ng-style="{color:node.color}">
                                    <span class="anchor">
                                        <span droppable drop="SettingCtrl.handleDrop" bin="bin" id="{{node.id}}" draggable item="item">{{node.name}}</span>
                                        <div class="before" droppable drop="SettingCtrl.handleDrop" bin="bin" id="before{{node.id}}" ng-if="SettingCtrl.isFirstChild(node)"><hr></div>
                                        <div class="after" droppable drop="SettingCtrl.handleDrop" bin="bin" id="after{{node.id}}" ng-if="SettingCtrl.showAfter(node)"><hr></div>
                                    </span>
                                </span>
                            </treecontrol>
                        </div>
                    </div>
                </div>

            </pane>
            <pane title="{{ 'SETTING_PLUS' | translate }}" icon="typcn-puzzle-outline" class="setting">
                <div layout="column" layout-align="start center">
                    <h2>{{ 'SETTING_TOUR' | translate }}</h2>
                    <p>{{ 'SETTING_TOUR_TEXT' | translate }}</p>
                    <switch id="tourEnabled" name="tourEnabled" ng-model="SettingCtrl.PreferencesService.preferences.showTours"
                            on="{{ 'SETTING_SHOW_TOUR_ENABLED' | translate }}"
                            off="{{ 'SETTING_SHOW_TOUR_DISABLED' | translate }}" class="green wide"
                            ng-change="SettingCtrl.PreferencesService.savePreferences()"></switch>
                </div>
                <hr>
                <div layout="column" layout-align="start center">
                    <h2>{{ 'SETTING_HELP_IMPORT' | translate }}</h2>
                    <p>{{ 'SETTING_HELP_LABEL' | translate }}</p>
                    <button ng-click="SettingCtrl.importHelpFiles()">{{ 'SETTING_HELP_IMPORT_BTN' | translate }}</button>
                    <svg width="150" height="150" ng-if="SettingCtrl.checkmark">
                        <path id="check" d="M10,50 l25,40 l95,-70" />
                    </svg>
                </div>


            </pane>
        </tabs>
    </div>
</div>
