#header {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#separator {
    height: 200px;
    border-top: blue solid 1px;
    border-bottom: blue solid 1px;
}

#identity {
    width: 200px;
    text-align: left;
    line-height: 1em;
}

#identity > p {
    margin: 0.6em;
}

#titleZone > h1 {
    text-align: center;
    font-size: 2em;
    color: red;
}

#titleZone > p {
    text-align: center;
}

#margin {
    width: 200px;
    min-width: 100px;
    border-right: red solid 1px;
}

p {
    text-align:justify;
}

h1 {
    color: red;
}

#made {
    margin: 20px;
}
#made  h1 {
    color: blue;
}

/* Table Head */
#made table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
#made table thead th {
    background-color: rgb(101,158,155);
    color: #fff;
    border-bottom-width: 0;
}

/* Column Style */
#made table tbody td {
    color: #000;
}
/* Heading and Column Style */
#made table tbody tr, .made table thead th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(101,158,127);
}

/* Padding and font style */
#made table tbody td, .made table thead th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
}

blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}



