#separator {
    display: none;
}

#identity {
    display: none;
    width: 0px;
}

#margin {
    display: none;
}

#made {
    padding:20px;
}

#titleZone > h1 {
    text-align: center;
    font-size: 2em;
    color: red;
}

#dateCreated {
    display: none;
}

#made p {
    text-align:justify;
}

#made .typcn {
     font-size: 1.7em;
}

/* Table */
#made table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

#made table thead, .made table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(214,221,202);
}

#made table {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}

/* Padding and font style */
#made table td, .made table th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(96,120,73);
}

/* Alternating background colors */
#made table tr:nth-child(even) {
    background: rgb(218,232,216)
}
#made table tr:nth-child(odd) {
    background: #FFF
}

#made blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 1em 1.5em 0.5em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
#made blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
#made blockquote p {
    display: block;
    margin-left:50px;
}

#made {counter-reset: h1 h2 h3;}

#made  h1 {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 1.5em;
}

#made  h1:before {
    content: counter(h1,upper-roman) " - ";
    counter-increment: h1;
}

#made h1:after {
    content:' ';
    display:block;
    border:1px solid lightgrey;
}

#made h2 {
    font-size: 1.2em;
}

#made h2:before {
    content: counter(h1) "." counter(h2) "  ";
    counter-increment: h2;
}
#made  h3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "  ";
    counter-increment: h3;
}
#made  h1 {
    counter-reset: h2;
}
#made  h2 {
    counter-reset: h3;
}
#made  h1.unnumbered, h2.unnumbered {
    counter-reset: none;
}
#made  h1.unnumbered:before,
#made  h2.unnumbered:before,
#made  h3.unnumbered:before{
    content: none;
    counter-increment: none;
}


#made strong {
    text-decoration: underline;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
}