.notation {
    display: none;
}

.identity {
    display: none;
    width: 0px;
}

.marge {
    display: none;
}

.rendu {
    padding:20px;
}

.title-zone > h1 {
    text-align: center;
}

#dateCreated {
    display: none;
}

.rendu p {
    text-align: center;
}


.rendu h2 {
    margin-top: 50px;
    text-align:right;
    font-size:1.4em;
}