#separator {
    display: none;
}

#identity {
    display: none;
    width: 0px;
}

#margin {
    display: none;
}

#made {
    padding:20px;
    min-width: 100%;
}

#title-zone > h1 {
    text-align: center;
}

#dateCreated {
    display: none;
}

#made p {
    text-align: center;
}


#made h2 {
    margin-top: 50px;
    text-align:right;
    font-size:1.4em;
}

strong {
    text-decoration: underline;
}