@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexic-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'opendyslexic-alta';
  src: url('../../open_dyslexic/OpenDyslexicAlta-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexicAlta-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexicAlta-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../open_dyslexic/OpenDyslexicAlta-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
