@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexic-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'opendyslexic-alta';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexicAlta-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexicAlta-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexicAlta-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../../bower_components/open-dyslexic/otf/OpenDyslexicAlta-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
