
@mixin color-theme($color_map) {

  button,.button {
    background-color: map-get($color_map, DD);


    &:hover {
      background-color: map-get($color_map, MD);
    }

    &.transparent {

      background-color: transparent;

      &:hover {
        background-color: map-get($color_map, DD);
      }

      &.light{
        &:hover {
          background-color: map-get($color_map, MD);
        }
      }
    }

    &.toggle {
      background-color: transparent;
      color:white;
      border-color: white;

      &:hover {
        background-color: map-get($color_map, DD);
      }

      &.off {
        color: map-get($color_map, MD);
        border-color: transparent;
      }
    }
  }

  .principal {
    background-color: map-get($color_map, ML);
  }

  .menu {
    background-color: map-get($color_map, DD);
  }

  .files {
    background-color: map-get($color_map, MD);
  }
}

@mixin color-square($color_map) {
  min-height: 60px;
  max-height: 60px;
  min-width: 60px;
  max-width: 60px;
  background-color: map-get($color_map,MM);
  border: solid 1px map-get($color_map,DD);
}

