// Font Variables
$font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif !default;
// Layout
// ------------------------------
$baseline-grid: 8px !default;
$layout-breakpoint-sm: 600px !default;
$layout-breakpoint-md: 960px !default;
$layout-breakpoint-lg: 1200px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
// App bar variables


$colorPurpleDD: #54278f;
$colorPurpleMD: #756bb1;
$colorPurpleMM: #9e9ac8;
$colorPurpleML: #cbc9e2;
$colorPurpleLL: #f2f0f7;