@import 'variables';
@import 'layout';
@import 'opendyslexic';

textarea {
  font-family: $font-family ;;
  font-size: 16px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  color: #000;
  font-family: $font-family;

  &.dyslexic {
    font-family: opendyslexic !important;

    textarea {
      font-family: opendyslexic !important;
    }
  }
}

.MathJax {
  font-family: $font-family;
}




/*button {
  background-color: #363636;
  color: white;
  padding: 3px 7px;
  margin: 5px;
  border: solid $colorPurpleMM 2px;
  border-radius: 2px;
  font-size: 1.5em;
}*/

.bandeau {
  background-color: black;
  color:white;
  height: 50px;

  button {
    border-color: transparent;
    background-color: transparent;
    padding: 3px 7px;
    margin: 5px;
    color:white;
    font-size: 1.5em;

    &:hover {
      background-color: $colorPurpleDD;
    }

    &:focus {
      outline: none;
    }

    &.toggle {
      padding: 3px 5px;
      border: solid 2px;
      border-radius: 30px;
      border-color: white;


      &.off {
        color: $colorPurpleMD;
        //border-color: $colorPurpleMD;
        border-color: transparent;
      }
    }
  }
}

.principal {
  position: relative;
  //background-color: pink;
}

.left-panel {
  width: 300px;
  opacity: 1;
  transition: opacity 1s;
  &.hidden {
    opacity: 0;
    transition: opacity 1s;
  }
}

.menu {
  background-color: $colorPurpleDD;
  //border-right: black solid 1px;
  color:white;
  width: 150;
}

.files {
  background-color: $colorPurpleMD;
  width: 150;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;

  transition: all 1s;

  &.goright{
    left: 300px;

    transition: all 1s;
  }
  //background-color: dodgerblue;
}

.editor {
  flex-grow:1;
  opacity: 1;

  transition: flex-grow 1s, opacity 1s;

  &.hidden {
    flex-grow:0.0001;
    opacity:0;
    transition: flex-grow 1s, opacity 1s;
  }
  //background-color: yellow;
}

.visualiser {
  flex-grow:1;
  //background-color: plum;
  overflow: auto;

  transition: flex-grow 1s;
  &.hidden {
    flex-grow:0.0001;
    transition: flex-grow 1s;
  }
}

