<div layout="column" flex ng-controller="SettingsController as SettingCtrl">
    <div class="bandeau" layout="row" layout-align="space-between center">
        <button ng-click="SettingCtrl.save()" ng-show="SettingCtrl.valid" title="{{'SAVE' | translate}}"><span class="typcn typcn-input-checked-outline"></span></button>
    </div>
    <div flex layout="column"  layout-align="start stretch">
        <tabs>
            <pane title="{{ 'SETTING_SETTING' | translate }}" icon="typcn-cog-outline" class="setting">

                <table>
                    <tbody>
                    <tr>
                        <td><h1>{{ 'SETTING_LANGUAGE' | translate }}</h1></td>
                        <td><div flex layout="row" layout-align="center center">
                            <label for="fr_FR" layout="column" layout-align="center center">
                                <span class="flag-icon flag-icon-fr"></span>
                                <P>Français</P>
                                <input type="radio" name="language" value="fr_FR" id="fr_FR" ng-model="SettingCtrl.PreferencesService.preferences.language" ng-click="SettingCtrl.changeLanguage('fr_FR')">
                            </label>

                            <label for="en_US" layout="column" layout-align="center center">
                                <span class="flag-icon flag-icon-gb"></span>
                                <p>English</p>
                                <input type="radio" name="language" value="en_US" id="en_US" ng-model="SettingCtrl.PreferencesService.preferences.language" ng-click="SettingCtrl.changeLanguage('en_US')">
                            </label>
                        </div></td>
                    </tr>
                    <tr>
                        <td><h1>{{ 'SETTING_DATABASE' | translate }}</h1></td>
                        <td>
                            <div layout="row" layout-align="start center">
                                <p>{{SettingCtrl.PreferencesService.settings.fileDatabase}}</p>
                                <button ng-click="SettingCtrl.chooseDatabase()" title="{{ 'FILE_LOAD' | translate }}"><span class="typcn typcn-folder-open"></span></button>
                                <button ng-click="SettingCtrl.newDatabase()" title="{{ 'FILE_NEW' | translate }}"><span class="typcn typcn-database"></span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h1>{{ 'SETTING_IDENTITY' | translate }}</h1></td>
                        <td>
                            <div layout="row" layout-align="start center">
                                <label for="firstName" layout="column" layout-align="center center">
                                    <p>{{ 'PROFILE_FIRSTNAME' | translate }}</p>
                                    <input type="text" id="firstName" ng-model="SettingCtrl.PreferencesService.preferences.firstName" ng-change="SettingCtrl.changeName()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                                </label>
                                <label for="name" layout="column" layout-align="center center">
                                    <p>{{ 'PROFILE_NAME' | translate }}</p>
                                    <input type="text" id="name" ng-model="SettingCtrl.PreferencesService.preferences.name"  ng-change="SettingCtrl.changeName()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h1>{{ 'SETTING_THEME' | translate }}</h1></td>
                        <td>
                            <div flex layout="row" layout-align="start center">

                                <label for="purple" layout="column" layout-align="center center">
                                    <span class="chooser-purple"></span>
                                    <input type="radio" name="colorTheme" value="purple" id="purple" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="blue" layout="column" layout-align="center center">
                                    <span class="chooser-blue"></span>
                                    <input type="radio" name="colorTheme" value="blue" id="blue" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="green" layout="column" layout-align="center center">
                                    <span class="chooser-green"></span>
                                    <input type="radio" name="colorTheme" value="green" id="green" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="orange" layout="column" layout-align="center center">
                                    <span class="chooser-orange"></span>
                                    <input type="radio" name="colorTheme" value="orange" id="orange" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="red" layout="column" layout-align="center center">
                                    <span class="chooser-red"></span>
                                    <input type="radio" name="colorTheme" value="red" id="red" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>

                                <label for="grey" layout="column" layout-align="center center">
                                    <span class="chooser-grey"></span>
                                    <input type="radio" name="colorTheme" value="grey" id="grey" ng-model="SettingCtrl.PreferencesService.preferences.colorTheme" ng-click="SettingCtrl.settingsValide()">
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </pane>
            <pane title="{{ 'SETTING_STYLE' | translate }}" icon="typcn-brush" class="setting">
                <div flex layout="row" layout-align="start stretch">
                    <div flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <p>{{ 'DOC_CSS' | translate }}</p>
                            <select id="css" ng-model="SettingCtrl.currentCss" ng-options="css as css.name for css in SettingCtrl.CssService.availableCss" ng-change="SettingCtrl.changeCss()">
                            </select>
                        </div>
                        <textarea flex rows="4" cols="50" ng-model="SettingCtrl.currentCss.css" ng-change="SettingCtrl.saveCss()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                        </textarea>
                    </div>
                    <div flex layout="column" layout-align="start stretch">
                        <div layout="row" layout-align="start center">
                            <p>{{ 'SETTING_DOCUMENT_TEST' | translate }}</p>
                            <select id="document" ng-model="SettingCtrl.currentDoc" ng-options="document as document.title for document in SettingCtrl.documents" ng-change="SettingCtrl.changeDocument()">
                            </select>
                        </div>
                        <div layout="row" layout-align="start center">
                            <button ng-click="SettingCtrl.CssVisualizer = 'HTML'">HTML</button>
                            <button ng-click="SettingCtrl.CssVisualizer = 'Visu'">Visualisation</button>
                        </div>
                        <div ng-if="SettingCtrl.CssVisualizer === 'HTML'">
                            <textarea flex rows="4" cols="50" ng-model="SettingCtrl.currentHTML" readonly="readonly">
                            </textarea>
                        </div>
                        <div ng-if="SettingCtrl.CssVisualizer === 'Visu'">
                            <div class="visualiser" flex
                                 layout="column" layout-align="start stretch">
                                <div class="haut" layout="row" layout-align="start stretch">
                                    <div class="identity" layout="column" layout-align="center center">
                                        <p>{{SettingCtrl.PreferencesService.preferences.name}}</p>
                                        <p>{{SettingCtrl.PreferencesService.preferences.firstName}}</p>
                                    </div>
                                    <div class="title-zone" layout="column" layout-align="center center">
                                        <h1>{{SettingCtrl.currentDoc.title}}</h1>
                                        <p>{{SettingCtrl.currentDoc.created | date : 'longDate'}}</p>
                                    </div>
                                </div>
                                <div class="notation"></div>
                                <div class="devoir" flex layout="row" layout-align="start stretch">
                                    <div class="marge"></div>
                                    <div id="rendu" ng-bind-html="SettingCtrl.currentHTML" flex></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </pane>
            <pane title="{{ 'SETTING_TEMPLATE' | translate }}" icon="typcn-flow-children" class="setting">
                <h1>Templates</h1>
            </pane>
        </tabs>




    </div>
</div>
