.notation {
    height: 50px;
    border-top: blue solid 1px;
    border-bottom: blue solid 1px;
}

.identity {
    width: 100px;
}

.marge {
    width: 100px;
    min-width: 100px;
    border-right: red solid 1px;
}

h1 {
    color: red;
}

#rendu  h1 {
    color: blue;
}

/* Table Head */
#rendu table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
#rendu table thead th {
    background-color: rgb(128, 102, 160);
    color: #fff;
    border-bottom-width: 0;
}

/* Column Style */
#rendu table tbody td {
    color: #000;
}
/* Heading and Column Style */
#rendu table tbody tr, #rendu table thead th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(128, 102, 160);
}

/* Padding and font style */
#rendu table tbody td, #rendu table thead th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
}

blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}
