// Font Variables
$font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif !default;
// Layout
// ------------------------------
$font-size: 14px;
$select-font-size: 16px;
$baseline-grid: 8px !default;
$layout-breakpoint-sm: 600px !default;
$layout-breakpoint-md: 960px !default;
$layout-breakpoint-lg: 1200px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
// App bar variables


$purpleTheme: (
        DD: #54278f,
        MD: #756bb1,
        MM: #9e9ac8,
        ML: #cbc9e2,
        LL: #f2f0f7,
        TR: rgba(117, 107, 177, 0.3)
);

$greenTheme: (
        DD: #006d2c,
        MD: #2ca25f,
        MM: #66c2a4,
        ML: #b2e2e2,
        LL: #edf8fb,
        TR: rgba(44, 162, 95, 0.3)
);

$orangeTheme: (
        DD: #a63603,
        MD: #e6550d,
        MM: #fd8d3c,
        ML: #fdbe85,
        LL: #feedde,
        TR: rgba(230, 85, 13, 0.3)
);

$redTheme: (
        DD: #a50f15,
        MD: #de2d26,
        MM: #fb6a4a,
        ML: #fcae91,
        LL: #fee5d9,
        TR: rgba(222, 45, 38, 0.3)
);

$greyTheme: (
        DD: #252525,
        MD: #636363,
        MM: #969696,
        ML: #cccccc,
        LL: #f7f7f7,
        TR: rgba(99, 99, 99, 0.3)
);

$blueTheme: (
        DD: #08519c,
        MD: #3182bd,
        MM: #6baed6,
        ML: #bdd7e7,
        LL: #eff3ff,
        TR: rgba(49, 130, 189, 0.3)
);

$pinkTheme: (
        DD: #980043,
        MD: #dd1c77,
        MM: #df65b0,
        ML: #d7b5d8,
        LL: #f1eef6,
        TR: rgba(221, 28, 119, 0.3)
);





